openapi: 3.2.0
info:
  title: OmGTU Schedule API
  version: 1.3.0
  description: |
    API расписания ОмГТУ (поиск + календарь JSON/ICS).

    Особенности реализации:
    - HTTP 200 возвращается даже при ошибках
    - Ошибки передаются через JSON поле "error"
    - Пустое расписание возвращается как пустой массив []

servers:
  - url: https://rasp.omgtu.ru/api

paths:
  /search:
    get:
      summary: Поиск объектов расписания
      parameters:
        - name: term
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum: [person, auditorium, student, group]
      responses:
        "200":
          description: Результаты поиска
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SearchResult"

  /schedule/group/{id}:
    get:
      summary: Расписание группы (JSON)
      description: |
        Возвращает расписание группы за указанный период.

        Ограничения:
        - Максимальный период: 180 дней
        - start <= finish обязательно
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer

        - name: start
          in: query
          required: true
          schema:
            type: string
            example: "2026.02.02"

        - name: finish
          in: query
          required: true
          schema:
            type: string
            example: "2026.02.25"

        - name: lng
          in: query
          required: false
          schema:
            type: integer
            example: 1

      responses:
        "200":
          description: |
            Успешный ответ.
            Возможные состояния:
            - массив занятий
            - пустой массив (нет занятий)
            - объект ошибки (логическая ошибка)
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: "#/components/schemas/Lesson"

                  - $ref: "#/components/schemas/ErrorResponse"

  /schedule/group/{id}.ics:
    get:
      summary: Расписание группы (ICS календарь)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: start
          in: query
          required: true
          schema:
            type: string
        - name: finish
          in: query
          required: true
          schema:
            type: string
        - name: lng
          in: query
          required: false
          schema:
            type: integer

      responses:
        "200":
          description: iCalendar файл
          content:
            text/calendar:
              schema:
                type: string

  /schedule/person/{id}:
    get:
      summary: Расписание преподавателя
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: start
          in: query
          required: true
          schema:
            type: string
        - name: finish
          in: query
          required: true
          schema:
            type: string
        - name: lng
          in: query
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: Расписание преподавателя
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: "#/components/schemas/Lesson"
                  - $ref: "#/components/schemas/ErrorResponse"

  /schedule/auditorium/{id}:
    get:
      summary: Расписание аудитории
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: start
          in: query
          required: true
          schema:
            type: string
        - name: finish
          in: query
          required: true
          schema:
            type: string
        - name: lng
          in: query
          required: false
          schema:
            type: integer

      responses:
        "200":
          description: Расписание аудитории
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: "#/components/schemas/Lesson"
                  - $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    SearchResult:
      type: object
      properties:
        id:
          type: integer
        label:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [group, person, auditorium, student]

    Lesson:
      type: object
      properties:
        date:
          type: string
          example: "2026.02.25"

        beginLesson:
          type: string
          example: "09:40"

        endLesson:
          type: string
          example: "11:10"

        dayOfWeekString:
          type: string
          example: "Чт"

        discipline:
          type: string

        kindOfWork:
          type: string

        lecturer:
          type: string

        auditorium:
          type: string

        building:
          type: string

        subGroup:
          type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          enum:
            - period-is-wrong
            - period-is-too-big
          description: |
            period-is-wrong — дата начала после даты конца
            period-is-too-big — период превышает 180 days
